body {
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-right: 10px;
}


.logo img {
  width: 50px;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -20px;
}

header {
  background-color: #2a2a2a;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid #444;
  background: linear-gradient(135deg, #2a2a2a, #333);
  transition: top 0.3s ease-in-out, padding 0.3s ease;
  min-height: 60px;
}


.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header h1 {
  font-size: 1.5rem;
  color: #f7f7f7;
  margin-left: 10px;
  transition: font-size 0.3s ease;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
  align-items: center;
}

nav ul li a {
  color: #f0f0f0;
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
  border: 2px solid transparent;
}

nav ul li a:hover {
  background: linear-gradient(45deg, #b0b0b0, #333);
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
}

nav ul li a.active {
  color: #f0f0f0;
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
  background: linear-gradient(45deg, #b0b0b0, #333);
  border: 2px solid #f0f0f0;
}


.social-links {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 10px;
}

.social-links a {
  font-size: 1.5rem;
  color: #f0f0f0;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007BFF;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Sections */
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px 20px 20px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 2px solid #444;
  background-color: #2a2a2a;
  background: linear-gradient(135deg, rgba(34, 34, 34, 1), rgba(0, 0, 0, 0.8));
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

section:nth-child(odd) {
  background-color: #333;
}

section > .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  padding: 20px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: #ddd;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}

footer .container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

footer p {
  font-size: 1rem;
  margin: 0;
}

.flash-messages {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-width: 90%;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.flash-messages.success {
  background-color: #28a745;
  color: white;
}

.flash-messages.error {
  background-color: #dc3545;
  color: white;
}

.flash-messages.fade-out {
  opacity: 0;
}

.flash .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  margin-left: 15px;
  cursor: pointer;
}

#flash-container {
  margin-top: 20px;
}


.menu-hamburguer {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: #f0f0f0;
  position: absolute;
  left: 20px;
  top: 20px;
}


@media screen and (max-width: 1024px) {

  .logo, header h1 {
    display: none;
  }


  .social-links {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .social-links a {
    font-size: 1.8rem;
  }


  .header-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    text-align: center;
    padding-top: 15px;
  }

  nav ul li a {
    padding: 12px;
    font-size: calc(0.8rem + 0.5vw);
  }


  .menu-hamburguer {
    display: block;
  }


  section {
    padding-top: 160px;
  }
}

@media screen and (max-width: 1024px) {
  nav ul.active {
    display: flex;
    margin-top: 80px;
  }
}