<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/projects.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/skills_me.css') }}" rel="stylesheet" />
    <title>{% block title %}Portfolio{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo"></div>
            <h1>Portfolio of a Back-end Developer</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.home') }}">Home</a></li>
                    <li><a href="{{ url_for('main.skills') }}">skills</a></li>
                    <li><a href="{{ url_for('main.about') }}">About Me</a></li>
                    <li><a href="{{ url_for('main.projects') }}">Projects</a></li>
                    <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <p>© 2024 Guilherme. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
